<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CursoNHibernate" connectionString="User ID=CURSONHIBERNATE;Password=CURSONHIBERNATE;Data Source=XE"/>
        <add name="CursoNHibernateMsSql" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=CursoNHibernate;Data Source=(LocalDb)\v11.0"/>
    </connectionStrings>
</configuration>